osb-devservices/n8n/workflows/osb-kc-instance-last-operation.json
{
  "id": "osbWfKcInstanceLastOp",
  "name": "OSB Keycloak Instance Last Operation",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "osb-kc-instance-last-operation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookosbWfKcInstanceLastOp",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "osb-kc-instance-last-operation"
    },
    {
      "parameters": {
        "templateId": "tpl-kc-realm-get",
        "clientId": "http-keycloak-admin"
      },
      "id": "ClientosbWfKcInstanceLastOp",
      "name": "OSB HTTP",
      "type": "CUSTOM.osbHttp",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const d = $json.clientResult?.detailsJson; const parsed = typeof d === 'string' ? JSON.parse(d) : d; const ready = parsed?.ready !== false; return { ok: true, kind: 'INSTANCE_LAST_OPERATION', operationId: $json.operationId, state: ready ? 'succeeded' : 'in progress', scenario: 'kc', last: $json.clientResult }; })() }}",
        "options": {}
      },
      "id": "RespondosbWfKcInstanceLastOp",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OSB HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OSB HTTP": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
