osb-devservices/n8n/workflows/osb-kc-deprovision.json
{
  "id": "osbWfKcDeprovision",
  "name": "OSB Keycloak Deprovision",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "osb-kc-deprovision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookosbWfKcDeprovision",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "osb-kc-deprovision"
    },
    {
      "parameters": {
        "templateId": "tpl-kc-realm-delete",
        "clientId": "http-keycloak-admin"
      },
      "id": "ClientosbWfKcDeprovision",
      "name": "OSB HTTP",
      "type": "CUSTOM.osbHttp",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, kind: 'DEPROVISION', operationId: $json.operationId, scenario: 'kc', last: $json.clientResult } }}",
        "options": {}
      },
      "id": "RespondosbWfKcDeprovision",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OSB HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OSB HTTP": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
