osb-devservices/n8n/workflows/osb-git-provision.json
{
  "id": "osbWfGitProvision",
  "name": "OSB Git Provision",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "osb-git-provision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookosbWfGitProvision",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "osb-git-provision"
    },
    {
      "parameters": {
        "templateId": "tpl-git-instance-file",
        "clientId": "git-demo-templates"
      },
      "id": "ClientosbWfGitProvision",
      "name": "OSB Git",
      "type": "CUSTOM.osbGit",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, kind: 'PROVISION', operationId: $json.operationId, state: 'succeeded', scenario: 'git', dashboardUrl: 'http://localhost:3000/osb/git-demo-templates/src/branch/main/Test-' + $json.command.instanceId + '.txt', last: $json.clientResult } }}",
        "options": {}
      },
      "id": "RespondosbWfGitProvision",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OSB Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OSB Git": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
