osb-devservices/n8n/workflows/osb-git-binding-last-operation.json
{
  "id": "osbWfGitBindingLastOp",
  "name": "OSB Git Binding Last Operation",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "osb-git-binding-last-operation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookosbWfGitBindingLastOp",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "osb-git-binding-last-operation"
    },
    {
      "parameters": {
        "templateId": "tpl-git-bind-file",
        "clientId": "git-demo-templates"
      },
      "id": "ClientosbWfGitBindingLastOp",
      "name": "OSB Git",
      "type": "CUSTOM.osbGit",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, kind: 'BINDING_LAST_OPERATION', operationId: $json.operationId, scenario: 'git', last: $json.clientResult } }}",
        "options": {}
      },
      "id": "RespondosbWfGitBindingLastOp",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OSB Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OSB Git": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
