osb-devservices/n8n/workflows/osb-platform-get-binding.json
{
  "id": "osbWfOsbGetBinding",
  "name": "OSB Platform Get Binding",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "osb-platform-get-binding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookosbWfOsbGetBinding",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "osb-platform-get-binding"
    },
    {
      "parameters": {
        "templateId": "tpl-osb-platform-bind",
        "clientId": "k8s-local-dev"
      },
      "id": "ClientosbWfOsbGetBinding",
      "name": "OSB Kubernetes",
      "type": "CUSTOM.osbKubernetes",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, kind: 'GET_BINDING', operationId: $json.operationId, scenario: 'osb-platform', last: $json.clientResult } }}",
        "options": {}
      },
      "id": "RespondosbWfOsbGetBinding",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OSB Kubernetes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OSB Kubernetes": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
