osb-devservices/n8n/workflows/osb-redis-provision.json
{
  "id": "osbWfRedisProvision",
  "name": "OSB Redis Provision",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "osb-redis-provision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookosbWfRedisProvision",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "osb-redis-provision"
    },
    {
      "parameters": {
        "templateId": "tpl-redis-cache",
        "clientId": "k8s-local-dev"
      },
      "id": "ClientosbWfRedisProvision",
      "name": "OSB Kubernetes",
      "type": "CUSTOM.osbKubernetes",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, kind: 'PROVISION', operationId: $json.operationId, scenario: 'redis', dashboardUrl: 'http://redis-ui-' + $json.command.instanceId + '.localhost:8088/', last: $json.clientResult } }}",
        "options": {}
      },
      "id": "RespondosbWfRedisProvision",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OSB Kubernetes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OSB Kubernetes": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
